.ui-tabs .ui-tabs-nav .ui-tabs-tab {
    background-color: #ea5757;
}

.btn-primary {
    background-color: #ea5757;
}

.btn-container {
    display: flex;

}

.ui-tabs .ui-tabs-panel {
    height: 400px;
    /* Añade scroll si el contenido es mayor que la altura */
    overflow: auto;
}

.botonera {
    display: flex;
    justify-content: center;
    width: 33%;
}

.botonera:first-child {
    justify-content: flex-end;
}

.botonera:last-child {
    justify-content: flex-start;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-widget-content {
    border: none;
    background: #ffffff;
    color: #333333;
}

#tabs-1, #tabs-2, #tabs-3{
    border: 1px solid #dddddd;
    border-radius: 3px;
    height: 85%;
}

label{
    font-size: large;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
            /* prevent horizontal scrollbar */
    overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

img{
    width: 100%;
    width: 100%;
}

.itemDisp li, .itemRuta li{
    list-style: none;
    margin: 3px 3px 3px 0; 
    padding: 1px; 
    float: left; 
    width: 110px; 
    height: 100px; 
    font-size: small; 
    text-align: center;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 5px;
}

.content-wrapper{
    /* overflow-y: auto; */
    height: 800px;
}

#subeFotos, .upload-text, .image-uploader {
    height: 220px;
    border-radius: 4px;
}

#nuevaRuta{
    height: 90%;
}

.contenedor {
    height: 100%;
}

#tabs{
    height: 90%;
}

/* i, input[type="submit"] {
    color: #ea5757;
} */

.dataTables_length, .dataTables_filter{
    display: none;
}

